<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link href="img/icon-1.png" rel="icon" type="image/x-icon">
	<link type="text/css" href="css/style.css" rel="stylesheet"/>
	<link rel="stylesheet" type="text/css" href="css/style-individual.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<title>WayTec</title>
</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-light barra">
		<a class="navbar-brand" href="home">Home</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="#ancora">Contos<span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="faca_seu_pedido" data-toggle="tooltip" data-placement="top" title="Mude o tema caso prefira algo menos assustador">Mudar tema do site</a>
				</li>
			</ul>
			<form class="form-inline my-2 my-lg-0">
				<input class="form-control pesquisa mr-sm-2" type="search" placeholder="Search" aria-label="Search">
				<button class="btn bu my-2 my-sm-0" type="submit">Search</button>
			</form>
		</div>
	</nav>

	<div class="ilustracao">
		<img src="img/tecfundo.png">
	</div>

	<div class="container carta">
		<h1>
			Título <br>

			<p class="h6" style="margin-bottom: 30px">
				Publicado em 3 de maio de 2019. | Atualizado em 22 de julho de 2020.
			</p> 

		</h1>

		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.


		<div align="center">
			<a href="https://go.hotmart.com/D39221198Q" rel="nofollow"><img src="http://celke.com.br/img_hotmart/123904/curso-de-php-orientado-a-objetos3.jpg" border="0" width="250" height="250" /></a>
		</div>
		
	</div>

	<div class="comentarios">
		<h1>Comentários</h1>

		<form>

			<div class="form-group">
				
				<textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Escreva um comentário" rows="4" ></textarea>
			</div>
			<div align="right"><button type="submit" class="btn btn-primary">enviar</button></div>
		</form>

		<ul class="lista-comentarios">
			<li>

				<div class="comentario-principal">

					<div class="avatar">
						<img src="img/tecfundo.png" width="70px" height="70px">
					</div>

					<div class="caixa-comentario">

						<div class="dados-comentario">
							<h6 class="nome-autor"><a href="#">Agustin Ortiz</a></h6>
							<span>hace 20 minutos</span>
							<a href="" class="itens-comentario"><i class="fa fa-reply"></i></a>
							<a href="" class="itens-comentario"><i class="fa fa-heart"></i></a>
						</div>

						<div class="conteudo-comentario">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi et iure laudantium vitae, praesentium optio, sapiente distinctio illo?
						</div>
					</div>

				</div>

				<!-- somente se houver resposta ao comentário -->
				<ul class="comentario-principal">
					<li>
						<!-- Avatar -->
						<div class="avatar"><img width="70px" height="70px" src="http://i9.photobucket.com/albums/a88/creaticode/avatar_2_zps7de12f8b.jpg" alt=""></div>
						<!-- Contenedor del Comentario -->
						<div class="caixa-comentario">
							<div class="dados-comentario">
								<h6 class="nome-autor"><a href="http://creaticode.com/blog">Lorena Rojero</a></h6>
								<span>hace 10 minutos</span>
								<a href="" class="itens-comentario"><i class="fa fa-reply"></i></a>
								<a href="" class="itens-comentario"><i class="fa fa-heart"></i></a>
							</div>
							<div class="conteudo-comentario">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi et iure laudantium vitae, praesentium optio, sapiente distinctio illo?
							</div>
						</div>
					</li>
				</ul>
				

			</li>

		</ul>
	</div>

	<footer>
		<div class="container-fluid bg-footer">
			
			<p class="centro"><br><br><br><br>Rodapé do esquecimento<br><br><br></p>

		</div>

	</footer>

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>